<p style="color: green"><%= notice %></p>

<% content_for :title, "Blog posts" %>
<%= content_for :head do %>
  <meta name="turbo-refresh-method" content="morph">
<% end %>

<h1>Blog posts</h1>

<%= link_to "New blog post", new_blog_post_path, data: { turbo_stream: true } %>

<%= turbo_stream_from "blog_posts" %>

<div id="blog_posts">
  <% @blog_posts.each do |blog_post| %>
    <%= render blog_post %>
    <p>
      <%= link_to "Show this blog post", blog_post %>
    </p>
  <% end %>
</div>